# dependencies
node_modules/
mobile-app/node_modules/

# expo
mobile-app/.expo/
mobile-app/.expo-shared/
.expo/

# builds
dist/
build/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.*

# os
.DS_Store
Thumbs.db
