<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501556960072-4b1ml6tusn7j2hj0ob6ff6331u9o1al5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501556960072-4b1ml6tusn7j2hj0ob6ff6331u9o1al5</string>
	<key>API_KEY</key>
	<string>AIzaSyBzc19vX005rUj5fObVwopX2YIu1Ru--Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>501556960072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gotogether.app</string>
	<key>PROJECT_ID</key>
	<string>gotogether-783eb</string>
	<key>STORAGE_BUCKET</key>
	<string>gotogether-783eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501556960072:ios:2e438c0c0cd6c8e3eb717d</string>
</dict>
</plist>